<!DOCTYPE html>
<html lang="en" class="background">

<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>

<body class="container body" onload="document.body.style.opacity='1'">
    <div class="row justify-content-center">
        <div class="col-8 justify-content-center div-style content">
            <header>
                <h2 class="display-4"><%= title %></h2>
            </header>
            <br />

            <form action=" /submit_iris" method="post">
                <h4>Siri Setting</h4>
                <div class="form-group">
                    <label for="epochNum">Number of Epoch: </label><input type="number" size="30" name="epochNum"
                        min="1" class="form-control" placeholder="i.e. 100 (integer only)" value="<%= form.epochNum %>" required />
                </div>
                <div class="form-group">
                    <label for="learningRate">Learning Rate</label>
                    <input type="text" size="30" name="learningRate" class="form-control" placeholder="i.e. 0.05"
                        value="<%= form.learningRate %>" required />
                    <% if(expressFlash.find(err=>err.param === "learningRate")) { %>
                    <span
                        class="error text-danger"><%= expressFlash.find(err=>err.param === "learningRate").msg %></span>
                    <% } %>
                </div>

                <br />
                <h4>Iris Data</h4>
                <div class="form-group">
                    <label for="sepalLength">Sepal Length: </label><input type="text" size="30" name="sepalLength"
                        class="form-control" value="<%= form.sepalLength %>" placeholder="i.e. 5.4" required />
                    <% if(expressFlash.find(err=>err.param === "sepalLength")) { %>
                    <span
                        class="error text-danger"><%= expressFlash.find(err=>err.param === "sepalLength").msg %></span>
                    <% }%>

                </div>
                <div class="form-group">
                    <label for="sepalWidth">Sepal Width: </label><input type="text" size="30" name="sepalWidth"
                        class="form-control" value="<%= form.sepalWidth %>" placeholder="i.e. 3.9" required />
                    <% if(expressFlash.find(err=>err.param === "sepalWidth")) { %>
                    <span class="error text-danger"><%= expressFlash.find(err=>err.param === "sepalWidth").msg %></span>
                    <% }%>
                </div>
                <div class="form-group">
                    <label for="petalLength">Petal Length: </label><input type="text" size="30" name="petalLength"
                        class="form-control" value="<%= form.petalLength %>" placeholder="i.e. 1.7" required />
                    <% if(expressFlash.find(err=>err.param === "petalLength")) { %>
                    <span
                        class="error text-danger"><%= expressFlash.find(err=>err.param === "petalLength").msg %></span>
                    <% }%>
                </div>
                <div class="form-group">
                    <label for="petalWidth">Petal Width: </label><input type="text" size="30" name="petalWidth"
                        class="form-control" value="<%= form.petalWidth %>" placeholder="i.e. 0.4" required />
                    <% if(expressFlash.find(err=>err.param === "petalWidth")) { %>
                    <span class="error text-danger"><%= expressFlash.find(err=>err.param === "petalWidth").msg %></span>
                    <% }%>

                </div>
                <div class=" form-group">
                    <label for="species">My Guess of a Flower Species</label>
                    <select name="species" class="custom-select" required>
                        <option value="setosa" <% if (form.species == "setosa") { %>selected<% } %>>Setosa</option>
                        <option value="virginica" <% if (form.species == "virginica") { %>selected<% } %>>Virginica
                        </option>
                        <option value="versicolor" <% if (form.species == "versicolor") { %>selected<% } %>>Versicolor
                        </option>

                    </select>
                </div>

                <br />
                <div>
                    <label></label><input type="submit" value="Ask Siri!" id="Predict"
                        class="col-2 btn btn-outline-primary margin-btn" />
                </div>
            </form>
        </div>
    </div>
    <br />
</body>
<script src="../../public/js/myQuery.js"></script>

</html>